.button {
    padding: 10px 20px;
    border-radius: 100px;
    outline: none;
    border: none;
    font-family: inherit;
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;
    height: 44px;
    transition: all 0.1s;
    user-select: none;
}

.primary {
    background: #01A7FD;
    color: #FFF;
    width: 118px;
}

.primary:hover {
    background: #0F79AF;
}

.primary:active {
    background: #59C79F;
}

.primary:disabled {
    background: #CEECFC;
}

.plus {
    color: #01A7FD;
    background-color: #FFF;
    border: 2px solid #01A7FD;
    display: flex;
    align-items: center;
    column-gap: 8px;
    width: 207px;
}

.plus:hover {
    background: rgba(255, 255, 255, 0.5);
}

.plus:active {
    background: #FFFFFF;
}

.plus:disabled {
    opacity: 0.56;
}

.borderless {
    background: rgba(255, 255, 255, 0);
    color: #01A7FD;
    margin-left: -20px;
}

.borderless:hover {
    opacity: 0.5;
}

.borderless:active {
    opacity: 1;
}

.borderless:disabled {
    color: grey;
}